In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('C:\\Users\\User\\KUGLE\\googleplaystore.csv')

In [3]:
print(data)

                                                     App             Category  \
0         Photo Editor & Candy Camera & Grid & ScrapBook       ART_AND_DESIGN
1                                    Coloring book moana       ART_AND_DESIGN
2      U Launcher Lite – FREE Live Cool Themes, Hide ...       ART_AND_DESIGN
3                                  Sketch - Draw & Paint       ART_AND_DESIGN
4                  Pixel Draw - Number Art Coloring Book       ART_AND_DESIGN
...                                                  ...                  ...
10836                                   Sya9a Maroc - FR               FAMILY
10837                   Fr. Mike Schmitz Audio Teachings               FAMILY
10838                             Parkinson Exercices FR              MEDICAL
10839                      The SCP Foundation DB fr nn5n  BOOKS_AND_REFERENCE
10840      iHoroscope - 2018 Daily Horoscope & Astrology            LIFESTYLE

       Rating Reviews                Size     Installs  Type Price  \
0         4.1     159                 19M      10,000+  Free     0
1         3.9     967                 14M     500,000+  Free     0
2         4.7   87510                8.7M   5,000,000+  Free     0
3         4.5  215644                 25M  50,000,000+  Free     0
4         4.3     967                2.8M     100,000+  Free     0
...       ...     ...                 ...          ...   ...   ...
10836     4.5      38                 53M       5,000+  Free     0
10837     5.0       4                3.6M         100+  Free     0
10838     NaN       3                9.5M       1,000+  Free     0
10839     4.5     114  Varies with device       1,000+  Free     0
10840     4.5  398307                 19M  10,000,000+  Free     0

      Content Rating                     Genres      Last Updated  \
0           Everyone               Art & Design   January 7, 2018
1           Everyone  Art & Design;Pretend Play  January 15, 2018
2           Everyone               Art & Design    August 1, 2018
3               Teen               Art & Design      June 8, 2018
4           Everyone    Art & Design;Creativity     June 20, 2018
...              ...                        ...               ...
10836       Everyone                  Education     July 25, 2017
10837       Everyone                  Education      July 6, 2018
10838       Everyone                    Medical  January 20, 2017
10839     Mature 17+          Books & Reference  January 19, 2015
10840       Everyone                  Lifestyle     July 25, 2018

              Current Ver         Android Ver
0                   1.0.0        4.0.3 and up
1                   2.0.0        4.0.3 and up
2                   1.2.4        4.0.3 and up
3      Varies with device          4.2 and up
4                     1.1          4.4 and up
...                   ...                 ...
10836                1.48          4.1 and up
10837                 1.0          4.1 and up
10838                 1.0          2.2 and up
10839  Varies with device  Varies with device
10840  Varies with device  Varies with device

[10841 rows x 13 columns]

In [4]:
google=('googleplaystore.csv')

In [5]:
Google=pd.read_csv('C:\\Users\\User\\KUGLE\\googleplaystore.csv')

In [6]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [7]:
apple=('AppleStore.csv')

In [8]:
Apple=pd.read_csv('C:\\Users\\User\\KUGLE\\AppleStore.csv')

In [9]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [10]:
Google={'Category':['Art_And_Design', 'Art_And_Design', 'Art_And_Design'],
        'Rating':[4.1, 3.9, 4.7],
        'Reviews':[159, 967, 87510],
        'Price':[0, 0, 0]}

In [11]:
frame1=pd.DataFrame(Google, columns=['Category', 'Rating', 'Reviews', 'Price', 'Platform'])

In [12]:
frame1

         Category  Rating  Reviews  Price Platform
0  Art_And_Design     4.1      159      0      NaN
1  Art_And_Design     3.9      967      0      NaN
2  Art_And_Design     4.7    87510      0      NaN

In [13]:
Apple={'Genres':['Art_And_Design', 'Art_And_Design;Pretend_Play', 'Art & Design'],
       'Rating':[4.1, 3.9, 4.7],
       'Content_Rating':['Everyone', 'Everyone','Everyone'],
       'Price':[0, 0, 0]}

In [14]:
frame2=pd.DataFrame(Apple, columns=['Genres','Rating','Content_Rating','Price', 'Platform'])

In [15]:
frame2

                        Genres  Rating Content_Rating  Price Platform
0               Art_And_Design     4.1       Everyone      0      NaN
1  Art_And_Design;Pretend_Play     3.9       Everyone      0      NaN
2                 Art & Design     4.7       Everyone      0      NaN

In [16]:
frame2.Genres

0                 Art_And_Design
1    Art_And_Design;Pretend_Play
2                   Art & Design
Name: Genres, dtype: object

In [17]:
frame2.Rating

0    4.1
1    3.9
2    4.7
Name: Rating, dtype: float64

In [18]:
frame2.Content_Rating

0    Everyone
1    Everyone
2    Everyone
Name: Content_Rating, dtype: object

In [19]:
frame2.Price

0    0
1    0
2    0
Name: Price, dtype: int64

In [20]:
frame2.Platform

0    NaN
1    NaN
2    NaN
Name: Platform, dtype: object

In [21]:
frame1.Category

0    Art_And_Design
1    Art_And_Design
2    Art_And_Design
Name: Category, dtype: object

In [22]:
frame1.Rating

0    4.1
1    3.9
2    4.7
Name: Rating, dtype: float64

In [23]:
frame1.Reviews

0      159
1      967
2    87510
Name: Reviews, dtype: int64

In [24]:
frame1.Price

0    0
1    0
2    0
Name: Price, dtype: int64

In [25]:
frame1.Platform

0    NaN
1    NaN
2    NaN
Name: Platform, dtype: object

Every dtype for both Google and Apple is fine except the column Content_Rating for Apple. I don't think Content_rating should be Everyone, I think it should be numbers, hence the dtype should be int. I decided to investigate the unique value of this column.

In [26]:
frame2['Content_Rating'].unique()

array(['Everyone'], dtype=object)

Content_Rating column turned out to be correct, it is dtype=object.I still feel it should be numerical!

I am also dubious about the Price column for Google and Apple being 0 (zero). Lets check them out.

In [27]:
frame1['Price'].unique()

array([0], dtype=int64)

In [28]:
frame2['Price'].unique()

array([0], dtype=int64)

All correct.

Change the names of the Apple columns to the names of the Google columns.

In [29]:
old_names=frame2.columns

In [30]:
new_names=(['Category','Rating', 'Reviews', 'Price', 'Platform'])

In [31]:
frame2.rename(columns={'Genres':'Category', 'Content_Rating':'Reviews'})

                      Category  Rating   Reviews  Price Platform
0               Art_And_Design     4.1  Everyone      0      NaN
1  Art_And_Design;Pretend_Play     3.9  Everyone      0      NaN
2                 Art & Design     4.7  Everyone      0      NaN

I changed the names of the columns, but lets try another way as well.

In [32]:
dict(zip(old_names,new_names))

{'Genres': 'Category',
 'Rating': 'Rating',
 'Content_Rating': 'Reviews',
 'Price': 'Price',
 'Platform': 'Platform'}

In [51]:
frame2.rename(columns={'Genres':'Category','Content_Rating':'Reviews'})

                      Category  Rating   Reviews  Price Platform
0               Art_And_Design     4.1  Everyone      0      NaN
1  Art_And_Design;Pretend_Play     3.9  Everyone      0      NaN
2                 Art & Design     4.7  Everyone      0      NaN

In [53]:
df1=pd.DataFrame(Google, columns=['Category','Rating', 'Reviews', 'Price', 'Platform'])

In [57]:
df2=pd.DataFrame(Apple, columns=['Category','Rating', 'Reviews', 'Price', 'Platform'])

In [72]:
pd.concat([df1,df2], ignore_index=True)

         Category  Rating Reviews  Price Platform
0  Art_And_Design     4.1     159      0      NaN
1  Art_And_Design     3.9     967      0      NaN
2  Art_And_Design     4.7   87510      0      NaN
3             NaN     4.1     NaN      0      NaN
4             NaN     3.9     NaN      0      NaN
5             NaN     4.7     NaN      0      NaN